#mainbackground { 
  background: url(../images/smr.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.w3-navbar li a, .w3-navitem, .w3-navbar li .w3-btn, .w3-navbar li .w3-input{
  padding: 20px 10px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}

.navbar-brand{
	font-size: 24px;
}

.h2{
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
}

h1{
  opacity: 1;
  font-family: 'Pacifico', cursive;
  font-size: 700%;
  padding-top: 12vh;
  color: white;
  margin-bottom: 3%
}

h2{
  color: white;
}

.w3-navbar{
  color: white;
}

.w3-btn, .w3-btn-block{
  background-color: transparent;
}

ul{
  padding-right: 2%;
}

a {
  color: white;
}

a:hover{
  text-decoration: none;
  color: white;
}

.icon{
  padding: 1.5vw;
  padding-top: .4vh;
}

.modal {
   position: absolute;
   top: 50vh;
   right: -3vh;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.modal-content {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}

.modal-header {
  border-bottom: 0;
}

/*SVG ANIMATION SETTINGS*/
svg {
  position: absolute;
  top: 0;
  bottom: 6vh;
  right: 0;
  left: 0;
  margin: auto;
}

.lines{
  stroke-dasharray:416;
  stroke-dashoffset:-416;
  -webkit-animation: draw-lines 3s linear;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.lines2{
  stroke-dasharray:416;
  stroke-dashoffset:-416;
  -webkit-animation: draw-lines2 3s linear;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#Layer_1{
  width: 17vw;
  height: auto;
}

#Layer_2{
  width: 17vw;
  height: auto;
}

.st0{
  fill:none;
  stroke:#2b4d55;
  stroke-width: 2px;
  stroke-miterlimit:10;
}

@-webkit-keyframes draw-lines{
  from{
    stroke-dashoffset: -416;
  }
  to{
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes draw-lines2{
  from{
    stroke-dashoffset: 416;
  }
  to{
    stroke-dashoffset: 0;
  }
}
/*SVG ANIMATION SETTINGS*/




