#mainbackground { 
  background: url(../images/background8.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}.w3-navbar li a, .w3-navitem, .w3-navbar li .w3-btn, .w3-navbar li .w3-input{
  padding: 20px 10px;
}

.navbar-brand{
	font-size: 24px;
}

h2{
  font-family: 'Pacifico', cursive;
  font-size: 24px;
}

h3{
  font-family: 'Pacifico', cursive;
  font-size: 500%;
  text-align: center;
  line-height: 1.0;
  position: relative;
}

.backgroundimage{
  min-height:100%;
  background-size:cover;
}

.w3-navbar{
  color: white;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8vh;
    width: 100%;
}

.modal {
   position: absolute;
   top: 77vh;
   right: -3vh;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.modal-content {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}

.modal-header {
  border-bottom: 0;
}

.shape{
  top: 0;
  right: 0:
  bottom: 0;
  left: 0;
  margin: auto;
  height: 25%;
  width: 100%;
  background-color: #ffffff;
  opacity: .7;
}

.w3-container{
  padding: 0;
}